name: RSS To Email
on:
  schedule:
    - cron: '0 */3 * * *' # Hourly
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.8
      uses: actions/setup-python@v5
      with:
        python-version: 3.8
    - name: Install requirements
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run rss_to_email.py
      run: python rss_to_email.py
      env:
        sender_email: ${{ secrets.SENDER_EMAIL }}
        sender_pword: ${{ secrets.SENDER_PWORD }}
        target_email: ${{ secrets.TARGET_EMAIL }}
        email_server: ${{ secrets.EMAIL_SERVER }}
        twitter_token: ${{ secrets.TWITTER_TOKEN }}
        youtube_token: ${{ secrets.YOUTUBE_TOKEN }}
    - name: Commit cache updates
      if: ${{ always() }}
      run: |
        git config --global user.email "rss-to-email@noreply.github.com"
        git config --global user.name "RSSToEmailBot"
        git commit -am "Updated cache on $(date)"
        git push
      continue-on-error: true
